<!DOCTYPE html>
{% load static %}
 <html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>registration page</title>
    <link rel="stylesheet" href="{%static 'css/my_style.css'%}">
  </head>
  <body>
    <h1>Registration form</h1>
    <form class="" action="index.html" method="post">
      name: <input type="text" name="" value="">
      <br>
      <hr>
      age: <input type="text" name="" value="">
      <br>
      <hr>
      gender: <input type="text" name="" value="">
      <br>
      <hr>
      email: <input type="text" name="" value="">
      <br>
      <hr>
      phone: <input type="text" name="" value="">
      <br>
      <hr>
    </form>
<br>
   <img src="{% static 'image/img.png'%}" alt="please get lost">


  </body>


</html>
